body { 
	color: pink;
	font-family: Roboto, Arial, sans-serif;
  }

.grid-container {
	display: grid;
	grid-template-columns: auto auto;
	padding: 10px;
	
}
.grid-item {
	display: grid;
	text-align: left;
	padding: 5px;
}
h1 {
	align-items: center;
	text-align: center;
	position: relative;
	height: 250px;
	background-image: url(banner3.jpg);
	display: flex;
	justify-content: center;
}

fieldset {
	background-color: rgb(214, 234, 248); 
 } 
legend {

 padding: 10px; 
 background-color: #1c87c9;
}

label { color: black; }


input, textarea{
 padding: 5px; 
 width: 100%;
 border-radius: 8px;
 border-style: solid;
 
}

input: focus{
border-width: 2px; 
 border-color: #43D1AF;
}

input[type="submit"],input[type="reset"]
{ background-color: #1abc9c;
color: white;
font-size: 16px;
width: 150px;
border-radius: 5px;
border-style: none;
}

